/* YouTube message styles for Twitch chat integration */
.youtube-chat-message {
  color: white;
  background-color: transparent;
}

.youtube-chat-message img {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: auto;
  margin: 0 2px;
}

.youtube-chat-message-content {
  color: white;
  vertical-align: middle;
}

.youtube-chat-message-content img {
  max-height: 28px;
  vertical-align: middle;
}

/* Hide YouTube messages when toggle is off */
body.hide-youtube-messages .youtube-chat-message {
  display: none !important;
  padding: 0px !important;
}

.hidden-youtube-message {
  display: none !important;
  padding: 0px !important;
}

.deleted-youtube-message .youtube-chat-message-content {
  text-decoration: line-through;
  opacity: 0.5;
  color: #808080;
}

.deleted-youtube-message .chat-line__message {
  opacity: 0.6;
}
