/ui/src/secrets
/service/secrets.yml
/service/node_modules
/service/.serverless
/service/.build
**/secrets.yml
**/.serverless
**/.build
**/.esbuild
monorepo/.nx/**/*
monorepo/apps/song-eval-service-app/template.yml
