/ui/src/secrets
/service/secrets.yml
/service/node_modules
/service/.serverless
/service/.build
**/secrets.yml
**/.serverless
**/.build
**/.esbuild
**/cdk.out
**/Secrets.ts
monorepo/.nx/**/*
monorepo/apps/song-eval-service-app/template.yml
**/node_modules
**/donoData.csv
**/donoData.json
