.event-list-channel-avatar {
  display: flex;
  align-items: center;
  margin-right: 10px;
  min-width: 30px;
  img {
      height: 30px;
      border-radius: 50px;
  }
}

.event-list-item-timestamp {
  margin-right: 10px;
  font-size: 14px;
}

.event-list-item-description {
  font-size: 14px;
}
