.live-icon {
    padding-left: 5px;
    padding-right: 5px;

    height: 24px;

    border-radius: 8px;
    border-width: 1px;
    border-color: white;
    border-style: solid;

    font-weight: 500;
    color: white;
    background-color: rgb(233, 25, 22);
}