.subscription-card {
    margin-bottom: 8px;
}

.sub-id {
    width: 25%;
}

.sub-broadcaster {
  width: 15%;
}

.sub-type {
    width: 35%;
}

.sub-status {
    width: 35%;
}

.sub-delete {
    width: 5%;
}

.subscriptions-container {
    margin: 10px;
}

.subscription-data {
    align-items: center;
    margin: 8px;
}

.songlist-config-container {
    margin: 10px;
}

.mods-config-container {
    margin: 10px;
}
