.highlighted-chat-message {
    background-color: darkolivegreen;
}

.evaluation-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    padding: 0 3px 0 3px;
    margin-top: 2px;

    background-color: darkgrey;

    color: black;
    font-size: small;
    font-weight: 600;
}

.evaluation-type {
    margin-right: 5px;
}

.evaluation-rating {
    font-weight: 500;
}

.non-follower-icon {
    background-color: red;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    display: inline-block;
}

.new-account-icon {
    border-color: yellow;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    display: inline-block;
}

.non-follower-highlight {
    background-color: #330000;
}