.alert-card {
    align-items: center;
}

.alert-avatar {
    margin-right: 10px;
    img {
        height: 60px;
        width: auto;
    }
}

.alert-username {
    margin-right: 10px;
}

.alert-game-name {

}