@import "Theme";

body {
    background-color: #EEEEEE;
}

.alert-card {
    height: 120px;

    margin-left: 10px;
    margin-top: 10px;
}

.alert-card-content {
    margin: 6px;
}

.shoutout-type {
    color: $shoutout-text-color;
    font-weight: bold;
    text-transform: uppercase;

    margin: 0px;
}

.alert-avatar {
    margin-right: 10px;
    img {
        height: 60px;
        width: auto;
    }
}

.alert-username {
    margin-right: 10px;
}

.shoutout-card {
    justify-content: space-between;
}

.shoutout-card-game-name {
    font-size: 14px;
}

.user-card-username {
    font-size: 20px;
}

.user-card-broadcaster-type {
    text-transform: capitalize;

    font-size: 14px;
}

.user-card-followers {
    font-size: 14px;
}