.chat-eval-card {
    justify-content: space-between;
}

.chat-eval-card-username {
    width: 140px;
    font-size: 12px;
}

.chat-eval-message {
    font-size: 13px;
}

.chat-eval-message-container {
    font-size: 12px; 
}